#main-frame{
    position: absolute;
    top: 29px;
    left: 100px;

    width: 1163px;
    height: 600px;
    background-color: #cfe1b9;

    box-shadow: 1px 1px 10px;
}


#boton{
    position: absolute;
    width: 100px;
    height: 50px;

    top: 30px;
    left: 30px;

    background-color: #eae0bc;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
}

#cargar-usuario{
    position: absolute;
    width: 80px;
    height: 50px;

    background-color: gold;
    font-size: 15px;

    cursor: pointer;
    border-radius: 10px;
}