table {
    border-collapse:separate;
    border-spacing:1px;
    background-color: #585742e1;;

        margin-right:200px
    }

table th {
        color:rgb(206, 72, 72);
        font-weight:600;
        padding: 20px 20px;
        text-align:center;
    }

table tbody {
        padding:0; margin:0;
        border-collapse:collapse;
        border-spacing:0px;
    }
table td {
        background:#eeec7fc0;
        padding:5px 30px;
        text-align:center;
    }


#main-frame{
    position: absolute;
    top: 29px;
    left: 100px;

    width: 1163px;
    height: 600px;
    background-color: #b6cca5;

    border-radius: 0.4cm;
    box-shadow: 1px 1px 10px;
}

#up-secc{
    position: absolute;
    width: 200px;
    height: 150px;

    box-shadow: 1px 1px 10px;
    border-radius: 20px;
    background-color: #c9b57385;

    top: 20%;
    left: 60px;

}


#up-secc-file{
    position: absolute;
    width: 100px;
    height: 50px;

    top: 20px;
    left: 49px;

    
    text-align: center;
    cursor: pointer;
    background-color: rgb(231, 214, 153);
    border-radius: 10px;

}


    #lbl-file{
        position: absolute;
        width: 4px;
        height: 48px;
        
        left: 1px;
        top: 15px;;

        width: 2.6cm;
        text-align: center;
        cursor: pointer;
    }

    #boton{
        position: absolute;
        width: 100px;
        height: 50px;

        top: 80px;
        left: 49px;


        text-align: center;
        cursor: pointer;
        background-color: rgba(231, 214, 153, 0.678);
        border-radius: 10px;
        /*box-shadow: 1px 1px 10px;*/
    }

#nw-work{
    position: absolute;
    width: 200px;
    height: 125px;

    box-shadow: 1px 1px 10px;
    border-radius: 20px;
    background-color: #c9b57385;

    bottom: 20%;
    left: 60px;

}

    #nw-file{
        position: absolute;
        left: 46px;
        top: 25px;;

        text-align: center;
    }


    #nw-button{
        position: absolute;
        width: 100px;
        height: 50px;

        top: 55px;
        left: 49px;


        text-align: center;
        cursor: pointer;
        background-color: rgba(231, 214, 153, 0.678);
        border-radius: 10px;
        /*box-shadow: 1px 1px 10px;*/
    }


#dvCSV{
    position: absolute;

    left: 600px;
    top: 20%;
}
